ion-content {
    --background: #121212;
    color: white;
  }
  
ion-item {
    --background: #1e1e1e;
    border-radius: 8px;
    margin: 8px;
    padding: 12px;
  }
  
.jugador-info h2 {
    font-size: 18px;
    margin-bottom: 4px;
    color: white;
  }
  
.jugador-info p {
    font-size: 14px;
    margin: 2px 0;
    color: #b0b0b0;
  }
  
ion-button,
ion-icon {
  display: inline-flex !important;
  visibility: visible !important;
  color: white;
}
  